@media (max-width: 1199.98px) {

  body.lock {
    overflow: hidden;
  }

  .header__container {
    padding: 0 37px 0 50px;
  }

  .header__body {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 60.5%;
    height: 100px;
    padding: 0;
  }

  .header__logo {
    flex: 0 0 187px;
    display: block;

    margin-top: 0;
  }

  .header__logo img {
    margin: 0;
  }

  .header__burger {
    display: block;
    position: relative;
    width: 36px;
    height: 33px;
    position: relative;
    z-index: 20;
  }



  .header__burger span {
    position: absolute;
    background-color: var(--white-color);
    position: absolute;
    left: 0;
    width: 77%;
    height: 4px;
    top: 14.2px;
    transition: all 0.3s ease 0s;
  }

  .header__burger:focus-visible span {
    background-color: var(--focus-color);
  }

  .header__burger::before,
  .header__burger::after {
    content: "";
    background-color: var(--white-color);
    position: absolute;
    width: 100%;
    height: 4px;
    left: 0;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .header__burger:focus-visible::before,
  .header__burger:focus-visible::after {
    background-color: var(--focus-color);
  }

  .header__burger::before {
    top: 2px;
  }

  .header__burger::after {
    width: 67%;
    bottom: 2px;
  }

  .header__burger.active {
    width: 36px;
    height: 23px;
  }

  .header__burger.active::after {
    width: 100%;
    left: -5px;
  }

  .header__burger.active::before {
    transform: rotate(45deg);
    top: 9px;
    left: -5px;
  }

  .header__burger.active span {
    width: 100%;
    -webkit-transform: scale(0);
            transform: scale(0);
  }

  .header__burger.active::after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 9px;
  }

  .header__menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;

    padding: 70px 10px 20px 0;

    z-index: 5;
    overflow: auto;
    transition: all 0.4s ease 0s;
    background: rgba(0, 0, 0, 0.9);
  }

  .header__menu.active {
    top: 0;
    left: 0;
  }

  .header__list {
    display: block;

    padding-left: 46px;
    padding-top: 44px;
  }

  .header__list li {
    margin: 0 0 39px 0 !important;
  }

  .header__link {
    font-size: 24px;
  }

  .bottom,
  .header__enter-btn {
    display: none;
  }

  .header__mobile-enter-btn {
    display: block;
    z-index: 2;

    margin-top: 132px;
    margin-left: 48px;
    padding: 15px 89px;

    border: 2px solid #9D5CD0;
    border-radius: 100px;

    font-weight: 600;
    font-size: 18px;
    line-height: 25px;

    color: var(--white-color);
  }

  .header__mobile-enter-btn:hover {
    background: #9D5CD0;
  }

  /* .header__mobile-enter-btn:hover {
    background: #9D5CD0;
  } */

  .header__mobile-enter-btn:active {
    background: #7943A4;
    border: 2px solid #D1A9F0;
  }


  .header__search-box {
    position: absolute;
    display: block;
    top: 22%;
    right: -64.5%;
    width: 0px;
    height: 55px;
    background: transparent;
    line-height: 55px;
    padding-right: 30px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    transition: all 0.5s ease;
    z-index: 1000;
  }

  .header__input{
    border: 0;
    background: transparent;
    width: 0%;
    outline: none;
    border-bottom: 1px solid white;
    color: #fff;
    transition: all 0.3s ease;
    position: relative;
    opacity: 0;
  }

  .mobile-search-btn {
    margin-right: 10px;
  }

  .header__search-box .mobile-search-btn{
    color: #fff;
    position: absolute;

    left: 8px;
    top: 13px;
    font-size: 22px;
    cursor: pointer;
  }

  .header__search-box.active{
    width: 250px;
    padding-left: 25px;

    background-color: #18171B;
    transition: all 0.5s ease;
  }

  .header__input.active{
    width: 98%;
    padding-left: 3px;
    margin-left: 20px;
    transition: all 0.5s 0.8s ease;
    opacity: 1;
  }

  /* hero *//* hero *//* hero *//* hero *//* hero *//* hero *//* hero *//* hero *//* hero *//* hero *//* hero *//* hero *//* hero *//* hero *//* hero *//* hero *//* hero *//* hero *//* hero *//* hero *//* hero *//* hero *//* hero */

  .hero__info {
    padding-bottom: 116px;
  }

  .hero__fade-container {
    margin-top: 81px;
  }

  .hero__fade-slide:nth-child(1) {
    background-image: url(../img/2-hero/hero-img-1-1024.jpg);
    animation-delay: 0;
  }

  .hero__fade-slide:nth-child(2) {
    background-image: url(../img/2-hero/hero-img-2-1024.jpg);
    animation-delay: 6s;
  }

  .hero__fade-slide:nth-child(3) {
    background-image: url(../img/2-hero/hero-img-3-1024.jpg);
    animation-delay: 12s;
  }

  .hero__fade-slide:nth-child(4) {
    background-image: url(../img/2-hero/hero-img-1-1024.jpg);
    animation-delay: 18s;
  }

  .hero__fade-slide:nth-child(5) {
    background-image: url(../img/2-hero/hero-img-2-1024.jpg);
    animation-delay: 24s;
  }

  .hero__fade-slide:nth-child(6) {
    background-image: url(../img/2-hero/hero-img-3-1024.jpg);
    animation-delay: 30s;
  }

  .hero__container {
    margin-top: 128px;
    padding: 0 50px;
  }

  .hero__content {
    padding-top: 85px;
  }

  .hero__info {
    max-width: 655px;
  }

  .hero__descr {
    margin-top: 8px;
  }

  .hero__btn {
    margin-top: 135px;
  }

  /* about-us *//* about-us *//* about-us *//* about-us *//* about-us *//* about-us *//* about-us *//* about-us *//* about-us *//* about-us *//* about-us *//* about-us *//* about-us *//* about-us *//* about-us *//* about-us *//* about-us *//* about-us *//* about-us *//* about-us *//* about-us */

  .about-us__container {
    padding: 0;
    padding: 80px 45px 0 49px;
}


  /* gallary *//* gallary *//* gallary *//* gallary *//* gallary *//* gallary *//* gallary *//* gallary *//* gallary *//* gallary *//* gallary *//* gallary *//* gallary *//* gallary *//* gallary *//* gallary *//* gallary */

  .gallery {
    padding: 80px 0 71px 0;

    background: url(../img/4-gallery/gallery-background-1024.jpg);
  }

  .gallery__container {
    padding: 0 34px 0 49px;
  }

  .gallery__swiper-slide {
    height: 280px;
  }

  .gallery__swiper-slide::before {
    padding-top: 85%;
  }

  .gallery__bot-left-elem {
    margin-top: 10px;
  }

  .gallery__top-left-elem,
  .gallery__bot-left-elem {
    width: calc(400 / 1322 * 100%);
  }

  .gallery__right-elem {
    width: calc(1150 / 1796 * 100%);
  }

  /* catalog *//* catalog *//* catalog *//* catalog *//* catalog *//* catalog *//* catalog *//* catalog *//* catalog *//* catalog *//* catalog *//* catalog *//* catalog *//* catalog *//* catalog *//* catalog *//* catalog *//* catalog *//* catalog *//* catalog *//* catalog */

  .catalog__container {
    padding: 0 33px 0 50px;
  }

  .catalog__title {
    margin-right: 33px;
    margin-top: 4px;
  }

  .catalog__tabs {
    margin-top: 13px;
  }

  .catalog__content-left {
    width: 50%;
  }

  .tab__content-bottom {
    flex-direction: column;
  }

  .tab__left-side {
    max-width: 100%;

    margin-right: 0;
    margin-top: 50px;

    order: 2;
  }

  .tab__left-side img {
    width: 100%;
  }

  .tab__rigth-side {
    order: 1;
  }

  .catalog__head {
    align-items: flex-start;
    margin-bottom: 3px;
  }

  .catalog__accordion {
    padding-bottom: 81px;
  }

  .catalog__accordion-text {
    max-width: 100%;
  }

  .catalog__painter-list {
    max-height: 436px;
    padding-bottom: 23px;
  }

  .painter__info {
    max-width: 100%;
  }

  .accordion {
    max-width: 47%;
  }

  /* events *//* events *//* events *//* events *//* events *//* events *//* events *//* events *//* events *//* events *//* events *//* events */

  .events__container {
    padding: 0 3px 0 49px;
  }

  .events__title {
    margin-bottom: 17px;
  }

  .events__list {
    gap: 26px;
  }

  .events__list:nth-child(3n+3) {
    gap: 0px;
  }

  .events__card-body {
    padding: 0 17px 49px 35px;
  }

  .events__teg {
    letter-spacing: -0.3px;
  }

  .events__item-title {
    display: none;
  }

  .events__item-text {
    display: none;
  }

  .events__item-title-1024 {
    display: block;
    margin-top: 4px;
  }

  .events__item-text-1024 {
    display: block;
  }

  .btn-center {
    padding-right: 29px;
  }

  .events__btn {
    margin-top: 29px;
    line-height: 26px;
  }

  /* publications  *//* publications  *//* publications  *//* publications  *//* publications  *//* publications  *//* publications  *//* publications  *//* publications  *//* publications  *//* publications  */

  .publications {
    background-image: url(../img/7-publications/publications-background-1024.jpg);
  }

  .publications__container {
    padding-right: 33px;
  }

  .publications-swiper {
    margin-left: 15px;
  }

  .publications-info {
    padding-top: 14px;
  }

  .publications__subtitle {
    padding-top: 17px;
  }

  .publications-price__form {
    margin-top: 14px;
  }

  /* projects *//* projects *//* projects *//* projects *//* projects *//* projects *//* projects *//* projects *//* projects *//* projects *//* projects *//* projects *//* projects *//* projects *//* projects *//* projects *//* projects */

  .projects__container {
    padding: 0 34px 0 50px;
  }

}
