@media (max-width: 750px) {

  /* hero *//* hero *//* hero *//* hero *//* hero *//* hero *//* hero *//* hero *//* hero *//* hero *//* hero *//* hero *//* hero *//* hero *//* hero *//* hero *//* hero *//* hero *//* hero *//* hero *//* hero */

  .hero__title {
    font-weight: 700;
    font-size: 65px;
    line-height: 108%;
    color: var(--white-color);
  }

  /* catalog *//* catalog *//* catalog *//* catalog *//* catalog *//* catalog *//* catalog *//* catalog *//* catalog *//* catalog *//* catalog *//* catalog *//* catalog *//* catalog *//* catalog *//* catalog */

  .catalog__head {
    flex-wrap: wrap;
  }

  /* projects *//* projects *//* projects *//* projects *//* projects *//* projects *//* projects *//* projects *//* projects *//* projects *//* projects *//* projects *//* projects *//* projects *//* projects */

  .projects {
    padding-top: 55px;
    padding-bottom: 50px;
  }

  .projects__title {
    margin-bottom: 15px;
  }

  .partners__swiper-container {
    max-width: 65%;
  }

  .partners__swiper-slide-link {
    height: 65px;
  }
}
