@media (max-width: 767.98px) {
  /* header *//* header *//* header *//* header *//* header *//* header *//* header *//* header *//* header *//* header *//* header *//* header *//* header *//* header *//* header *//* header *//* header */

  .form {
    width: 669px;

    padding: 10px 3px 10px 12px;
    top: -112%;

    background-color: #000;
  }

  .form__input {
    width: 89%;

    background-color: #000;
  }

  .form-btn-close {
    display: block;
    padding-left: 10px;
  }

  .form-btn-close svg path {
    fill: #fff;
  }



  /* hero *//* hero *//* hero *//* hero *//* hero *//* hero *//* hero *//* hero *//* hero *//* hero *//* hero *//* hero *//* hero *//* hero *//* hero *//* hero *//* hero *//* hero *//* hero *//* hero */

  .hero__container {
    padding: 0 45px 0 50px;
  }

  .hero__fade-slide:nth-child(1) {
    background-image: url(../img/2-hero/hero-img-1-768.jpg);
  }

  .hero__fade-slide:nth-child(2) {
    background-image: url(../img/2-hero/hero-img-2-768.jpg);
  }

  .hero__fade-slide:nth-child(3) {
    background-image: url(../img/2-hero/hero-img-3-768.jpg);
  }

  .hero__fade-slide:nth-child(4) {
    background-image: url(../img/2-hero/hero-img-1-768.jpg);
  }

  .hero__fade-slide:nth-child(5) {
    background-image: url(../img/2-hero/hero-img-2-768.jpg);
  }

  .hero__fade-slide:nth-child(6) {
    background-image: url(../img/2-hero/hero-img-3-768.jpg);
  }

  .hero__info {
    padding-bottom: 114px;
  }

  .hero__descr {
    margin-top: 10px;
  }

  /* about-us *//* about-us *//* about-us *//* about-us *//* about-us *//* about-us *//* about-us *//* about-us *//* about-us *//* about-us *//* about-us *//* about-us *//* about-us *//* about-us *//* about-us *//* about-us */

  .about-us__container {
    padding: 80px 39px 0 49px;
  }


  /* gallery *//* gallery *//* gallery *//* gallery *//* gallery *//* gallery *//* gallery *//* gallery *//* gallery *//* gallery *//* gallery *//* gallery *//* gallery *//* gallery *//* gallery *//* gallery *//* gallery */

  .gallery__container {
    padding: 0 32px 0 49px;
  }

  .gallery__top-left-elem,
  .gallery__right-elem {
    width: 100%;
    margin-left: 0;
    margin-bottom: 20px;
  }

  .gallery__right-elem {
    margin-top: 29px;
  }

  .gallery__bot-left-elem {
    width: 100%;
  }

  .test-last-content {
    position: static;
  }

  .gallery__select {
    max-width: 300px;
  }

  .gallery__bottom-text {
    position: static;
  }

  .choices__inner {
    width: 94%;
  }

  .choices[data-type*=select-one]:after {
    right: 34.7px;
  }

  .choices:focus {
    background: none;
    border-radius: 6px;
  }

  .choices__list--dropdown {
    width: 94%;

    z-index: 10;
    background-color: rgba(0, 0, 0, 0.8);
  }

  .gallery__swiper-slide::before {
    padding-top: 86.6%;
  }

  /* catalog *//* catalog *//* catalog *//* catalog *//* catalog *//* catalog *//* catalog *//* catalog *//* catalog *//* catalog *//* catalog *//* catalog *//* catalog *//* catalog *//* catalog *//* catalog *//* catalog *//* catalog */

  .catalog {
    padding-top: 75px;
  }

  .catalog__container {
    padding: 0 32px 0 50px;
  }

  .catalog__content-left {
    width: 100%;
  }

  .accordion__painter-list {
    max-height: 840px;
  }

  .catalog__head {
    margin-bottom: 13px;
  }

  .catalog__tabs {
    margin-top: 6px;
  }

  .catalog__tabs-btn {
    padding: 20px;
  }

  .catalog__tabs-item:not(:last-child) {
    margin-right: 30px;
  }

  .catalog__accordion {
    padding-bottom: 51px;
  }

  .catalog__country-info {
    max-width: 100%;
  }

  .accordion {
    margin-bottom: 49px;
  }

  .accordion__btn {
    height: 73px;
  }

  .accordion__painter-list {
    padding-top: 18px;
    padding-bottom: 21px;

  }

  .accordion__title {
    font-size: 18px;
  }

  .accordion__arrow-btn {
    width: 30px;
    height: 30px;
    margin-right: 0;
  }

  .accordion__arrow-btn::after {
    top: 10px;
    left: 10px;
    width: 7px;
    height: 7px;
  }

  .accordion__arrow-btn--active::after {
    top: 10px;
  }

  .catalog__painter-list {
    column-count: 3;
  }

  .painter {
    padding-left: 0px;
  }

  .painter__photo {
    margin-top: 0;
    margin-bottom: 13px;
  }

  .painter__name {
    margin-bottom: 13px;
  }

  .painter__info {
    max-width: 99%;
  }

  /* events *//* events *//* events *//* events *//* events *//* events *//* events *//* events *//* events *//* events *//* events *//* events */

  .events__container {
    padding-top: 69px;
  }

  .events__list-item {
    width: calc(94.5% / 2 - 20px);
    margin-right: 32px;
  }

  .events__list-item:nth-child(3n+3) {
    margin-right: 32px;
  }

  .events__card-body {
    padding-top: 3px
  }



  .events__btn {
    margin-top: 61px;
  }


  .events__open-btn {
    margin-bottom: 81px;
  }

  /* publications *//* publications *//* publications *//* publications *//* publications *//* publications *//* publications *//* publications *//* publications *//* publications *//* publications *//* publications *//* publications *//* publications *//* publications */

  .publications {
    padding-top: 102px;
    padding-bottom: 50px;

    background-image: url(../img/7-publications/publications-background-768.jpg);
  }

  .publications__checkbox-wrap {
    display: block;
    column-count: 3;

    margin-bottom: 0;
  }

  .publications__title {
    margin-bottom: 17px;
  }

  .publications-price {
    padding-top: 16px;
  }

  .publications__button {
    margin-top: 17px;
  }

  .projects__subtitle {
    margin-top: 25px;
    margin-bottom: 29px;
  }

  .partners__swiper-slide-link {
    height: 92px;
    padding: 6px;
  }

  /*--publications 768px--*//*--publications 768px--*//*--publications 768px--*//*--publications 768px--*//*--publications 768px--*//*--publications 768px--*//*--publications 768px--*/

  .publications-wrap {
    flex-direction: column;
  }

  .publications-left {
    max-width: 100%;
  }

  .publications-navigation {
    margin-left: -27px;
  }

  .publications-swiper {
    margin-bottom: 20px;
    margin-left: 0;
    padding-top: 49px;
    padding-left: 27px;
    width: calc(1538 / 1600 * 100%);
  }

  .publications__h3-price {
    padding-top: 0;
  }

  .publications-price__form {
    margin-top: 6px;
  }

  .publications-price__input {
    padding-left: 9px;
  }

  .publications__list {
    padding-top: 28px;
  }

  .publications-info {
    padding-top: 11px;
  }

  .publications-span {
    top: 10px;
    right: .5px;
  }

  /* contacts *//* contacts *//* contacts *//* contacts *//* contacts *//* contacts *//* contacts *//* contacts *//* contacts *//* contacts *//* contacts *//* contacts *//* contacts *//* contacts *//* contacts */

  .contacts__container {
    padding: 0 50px;
  }

  .contacts__container-block {
    padding-left: 50px;
  }

  .contacts__content-left {
    min-width: 380px;
    padding: 124px 44px 119px 0;
  }

  .contacts__map {
    width: calc(292 / 668 * 100% + ((100vw - 100%) / 2));
  }

  .contacts__bottom-link svg {
    width: 60px;
    height: 60px;
  }

  .telegram-link {
    margin-left: 30px;
  }

  /* footer *//* footer *//* footer *//* footer *//* footer *//* footer *//* footer *//* footer *//* footer *//* footer *//* footer *//* footer *//* footer *//* footer *//* footer *//* footer *//* footer *//* footer *//* footer */

  .footer__container {
    padding: 0 31px 0 51px;
  }

  .footer__link svg {
    width: 60px;
    height: 60px;
  }

  .footer__content {
    padding: 40px 0;
  }

  .footer__content img {
    margin-top: 10px;
  }

  .footer__list-item:not(:last-child) {
    margin-right: 30px;
  }



}
