@media (max-width: 337px) {

  .publications__container {
    padding: 0 15px;
  }

  .publications-price__form {
    margin-top: 3px;
  }

  .publications-price__input {
    padding-top: 3px;
  }

  .publications-swiper {
    padding-left: 0;
    width: calc(1598 / 1600 * 100%);
  }

  .publications-navigation {
    display: none;
  }

  .publications__list {
    padding-top: 1px;
  }

  .publications__item:nth-child(2n) {
    margin-right: 0;
  }



  .publications-info {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    font-size: 12px;
  }

  .publications__book-name {
    font-size: 11.8px;
    line-height: 12px;
  }

  .publications-span {
    position: relative;
    top: -3px;
    font-size: 11px;
  }



  .none-320 {
    display: none;
  }
}
