html {
  box-sizing: border-box;
}

:root {
  --white-color: #fff;
  --lightgrey-color: #666;
  --grey-color: #999;
  --darkgrey-color: #333;
  --black-color: #000;
  --hover-color: #C283F3;
  --focus-color: #7943A4;
  --active-color: #9D5CD0;
  --light-pink-color: #D1A9F0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

*:focus-visible {
  outline: none;
}

a {
  position: relative;
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

@font-face {
  font-family: "OpenSans";
  src: local("OpenSans"),
    url(../fonts/OpenSans-Regular.woff2) format("woff2"),
    url(../fonts/OpenSans-Regular.woff) format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "OpenSans";
  src: local("OpenSans"),
    url(../fonts/OpenSans-SemiBold.woff2) format("woff2"),
    url(../fonts/OpenSans-SemiBold.woff) format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "OpenSans";
  src: local("OpenSans"),
    url(../fonts/OpenSans-Bold.woff2) format("woff2"),
    url(../fonts/OpenSans-Bold.woff) format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "OpenSans", sans-serif;
  font-weight: 400;
}

.container {
  max-width: 1650px;

  margin: 0 auto;
  padding: 0 25px;
}

.list-reset {
  list-style: none;
  padding: 0;
  margin: 0;
}

.flex {
  display: flex;
}

.my-btn {
  padding: 0;
  border: none;
  outline: none;
  cursor: pointer;

  background: transparent;
}

.common-title {
  margin-bottom: 30px;

  font-weight: 400;
  font-size: 48px;
  line-height: 65px;
}

/* header *//* header *//* header *//* header *//* header *//* header *//* header *//* header *//* header *//* header *//* header *//* header *//* header *//* header *//* header *//* header *//* header *//* header *//* header *//* header *//* header *//* header */

.header__top {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;

  z-index: 50;
}

.header__top::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--black-color);
  z-index: 2;
}

.header__body {
  position: relative;

  display: flex;
  justify-content: space-between;
  align-items: center;

  min-height: 100px;
}

.header__logo {
  flex: 0 0 173px;
  position: relative;
  z-index: 3;
}

.header__logo img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.header__burger {
  display: none;
}

.header__btn {
  background: transparent;
  border: none;
}

.header__list {
  display: flex;
  position: relative;
  flex-wrap: wrap;

  padding-right: 164px;
  z-index: 2;
}

.header__list li {
  list-style: none;
  margin: 0 0 0 62px;
}

.header__link {

  font-weight: 600;
  font-size: 18px;
  line-height: 25px;

  color: var(--white-color);

  transition-property: border, color;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}

.header__link:hover {
  color: var(--hover-color);
}

.header__link:focus-visible {
  outline: none;
  background: var(--focus-color);
  transform: matrix(1, 0, 0, -1, 0, 0);
}

.header__link:active {
  outline: none;
  color: var(--active-color);
}

.header__mobile-enter-btn {
  display: none;
}

.header__enter-btn {
  padding: 0;
  height: 25px;

  font-weight: 400;
  font-size: 18px;
  line-height: 13px;

  color: var(--white-color);
  z-index: 20;

  transition: all .3s;
}

.header__enter-btn svg path {
  transition: all .3s;
}

.header__enter-btn:hover {
  color: var(--hover-color);
}

.header__enter-btn:hover svg path {
  fill: var(--hover-color);
}

.header__enter-btn:focus-visible {
  background: #7943A4;
}

.header__enter-btn:active {
  color: var(--active-color);
}

.header__enter-btn:active svg path {
  fill: var(--active-color);
}

.header__search-box {
  display: none;
}

.header__search-btn {
  display: none;
}

.bottom {
  position: relative;
  top: 100px;
  left: 0;

  width: 100%;

  z-index: 40;
}

.bottom::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  z-index: 4;
}

.bottom__select {
  align-items: center;
}

.bottom__body {
  position: relative;
  display: flex;

  justify-content: space-between;

  align-items: center;

  height: 70px;
  z-index: 4;
}

.bottom__search-box {
  display: flex;
}

.bottom__search-txt {
  padding-left: 8px;

  border: none;
  outline: none;
  background: transparent;
  border-bottom: 1px solid var(--white-color);

  font-weight: 400;
  font-size: 18px;
  line-height: 25px;

  color: rgba(255, 255, 255, 0.85);
  transition: all .3s ease;
}

.bottom__search-txt:hover {
  border-bottom: 1px solid #C283F3;
}

.bottom__search-txt:focus-visible {
  border-bottom: 1px solid #7943A4;
}

.bottom__search-txt:active {
  border-bottom: 1px solid #7943A4;
}

/* menu *//* menu *//* menu *//* menu *//* menu *//* menu *//* menu *//* menu *//* menu *//* menu *//* menu *//* menu *//* menu *//* menu *//* menu *//* menu *//* menu *//* menu *//* menu */

.bottom__list {
  display: flex;
  align-items: center;
}

.bottom__list-item {
  position: relative;

  /* height: 70px; */

  color: var(--white-color);
}

.bottom__list-item:not(:last-child) {
  margin-right: 95px;
}

.bottom__item-btn {
  display: flex;
  height: 100%;
  align-items: center;
  padding: 0;

  font-weight: 400;
  font-size: 18px;
  line-height: 25px;

  color: var(--white-color);
  transition: color 0.2s ease-in-out;
}

.bottom__item-btn:hover {
  color: var(--hover-color);
}

.bottom__item-btn:focus-visible {
  outline: none;
  background: var(--focus-color);
}

.bottom__item-btn::after {
  content: "";
  display: inline-block;
  width: 7px;
  height: 7px;
  border-top: 1px solid;
  border-right: 1px solid;
  margin-left: 10px;
  margin-top: -3px;
  transform: rotate(135deg);
  transition: transform 0.5s ease;
  transform-origin: center;
}

.bottom__item-btn.is-active {
  color: var(--focus-color);
}

.bottom__item-btn.is-active::after {
  transform: rotate(-45deg) translateY(4px);
}

.bottom__item-btn:active {
  color: var(--white-color);
}

.bottom__dropdown {
  display: none;
  padding: 40px 20px 40px 40px;
  background-color: rgba(0, 0, 0, 0.6);
}

.bottom__dropdown-wrap {
  width: 240px;
  height: 220px;
}

.bottom__dropdown.is-active {
  position: absolute;
  top: 189%;
}

.bottom__dropdown > ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

.bottom__dropdown.is-active {
  display: block;
  animation-name: dropdownOpen;
  animation-duration: .4s;
}

.bottom__dropdown.is-disabled {
  display: block;
  animation-name: dropdownClose;
  animation-duration: .4s;
}

.bottom__dropdown-item {
  width: 220px;
}

.bottom__dropdown-item:not(:last-child) {
  margin-bottom: 20px;
}

.bottom__item-link {
  display: block;
  padding: 10px 15px;
  border: none;
  border: 2px solid transparent;
  font-size: 14px;
  background-repeat: no-repeat;

  color: var(--white-color);
  transition: border-color .3s ease;
}

.bottom__item-link::before {
  content: "";
  display: block;
  position: absolute;
  z-index: 2;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  border: 0 solid transparent;
  transition: background-color .3s ease, border-color .3s ease;
}

.bottom__item-link:hover {
  border-color: var(--hover-color);
}

.bottom__item-link:focus-visible {
  outline: none;
  border-color: var(--focus-color);
}

.bottom__item-link:active::before {
  border-color: var(--light-pink-color);
  background-color: rgba(194, 131, 243, 0.4);
}

.bottom__dropdown .simplebar-track.simplebar-vertical {
  width: 2px;
  background-color: var(--black-color);
}

.bottom__dropdown
  .simplebar-track.simplebar-vertical
  .simplebar-scrollbar:before {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--white-color);
  opacity: 1;
}

@keyframes dropdownOpen {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes dropdownClose {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/* 1-card */
.bottom__item-tintoretto {background-image: url(../img/1.1-subheader/tintoretto.jpg);}
.bottom__item-fridrikh {background-image: url(../img/1.1-subheader/fridrikh.jpg);}
.bottom__item-leonardo {background-image: url(../img/1.1-subheader/leonardo.jpg);}
.bottom__item-verrocchio {background-image: url(../img/1.1-subheader/verrocchio.jpg);}
/* 2-card */
.bottom__item-mone {background-image: url(../img/1.1-subheader/mone.jpg);}
.bottom__item-sisley {background-image: url(../img/1.1-subheader/sisley.jpg);}
.bottom__item-mane { background-image: url(../img/1.1-subheader/mane.jpg);}
.bottom__item-renuar {background-image: url(../img/1.1-subheader/renuar.jpg);}
/* 3-card */
.bottom__item-vangog {background-image: url(../img/1.1-subheader/vangog.jpg);}
.bottom__item-sezann {background-image: url(../img/1.1-subheader/sezann.jpg);}
.bottom__item-gogen {background-image: url(../img/1.1-subheader/gogen.jpg);}
.bottom__item-soyra {background-image: url(../img/1.1-subheader/soyra.jpg);}
/* 4-card */
.bottom__item-kandinsiy {background-image: url(../img/1.1-subheader/kandinsiy.jpg);}
.bottom__item-marinetti {background-image: url(../img/1.1-subheader/marinetti.jpg);}
.bottom__item-malevich {background-image: url(../img/1.1-subheader/malevich.jpg);}
.bottom__item-picasso {background-image: url(../img/1.1-subheader/picasso.jpg);}
/* 5-card */
.bottom__item-karra {background-image: url(../img/1.1-subheader/karra.jpg);}
.bottom__item-pratella {background-image: url(../img/1.1-subheader/pratella.jpg);}
.bottom__item-severini {background-image: url(../img/1.1-subheader/severini.jpg);}
.bottom__item-balla {background-image: url(../img/1.1-subheader/balla.jpg);}


/* hero *//* hero *//* hero *//* hero *//* hero *//* hero *//* hero *//* hero *//* hero *//* hero *//* hero *//* hero *//* hero *//* hero *//* hero *//* hero *//* hero *//* hero *//* hero *//* hero *//* hero *//* hero *//* hero *//* hero *//* hero *//* hero */

.hero {
  position: relative;
}

.hero__container {
  margin-top: 170px;
}

.hero__fade-container {
  position: absolute;
  top: -140px;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  overflow: hidden;
}

.hero__fade-slide {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: scale(1.1);
  animation: heroAnimation 35s linear infinite 0s;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  opacity: 0;
}

.hero__fade-slide:nth-child(1) {
  background-image: url(../img/2-hero/hero-img-1.jpg);
}

.hero__fade-slide:nth-child(2) {
  background-image: url(../img/2-hero/hero-img-2.jpg);
  animation-delay: 6s;
}

.hero__fade-slide:nth-child(3) {
  background-image: url(../img/2-hero/hero-img-3.jpg);
  animation-delay: 12s;
}

.hero__fade-slide:nth-child(4) {
  background-image: url(../img/2-hero/hero-img-1.jpg);
  animation-delay: 18s;
}

.hero__fade-slide:nth-child(5) {
  background-image: url(../img/2-hero/hero-img-2.jpg);
  animation-delay: 24s;
}

.hero__fade-slide:nth-child(6) {
  background-image: url(../img/2-hero/hero-img-3.jpg);
  animation-delay: 30s;
}


@keyframes heroAnimation {

  0% {
    opacity: 0;
    animation-timing-function: ease-in;
  }

  8% {
    opacity: 1;
    transform: scale(1.05);
    animation-timing-function: ease-out;
  }

  17% {
    opacity: 1;
    transform: scale(1.1);
  }

  25% {
    opacity: 0;
    transform: scale(1.1);
  }

  100% {
    opacity: 0;
  }
}



.hero__info {
  position: relative;
  max-width: 600px;

  padding-bottom: 123px;
  z-index: 10;
}

.hero__title {

  font-weight: 700;
  font-size: 72px;
  line-height: 116%;

  color: var(--white-color);
}

.hero__descr {
  margin-top: 19px;

  font-weight: 700;
  font-size: 18px;
  line-height: 30px;

  color: var(--white-color);
}

.hero__btn {
  margin-top: 93px;
  padding: 19px 32px;

  font-weight: bold;
  font-size: 18px;
  line-height: 25px;

  color: var(--white-color);

  background: var(--active-color);
  border-radius: 100px;
  border: 3px solid transparent;

  transition: border .3s ease-in-out, background-color .3s ease-in-out;
}


.hero__btn::after {
  content: "";
  position: absolute;
  top: -9.5px;
  left: -9.5px;
  width: calc(100% + 18px);
  height: calc(100% + 18px);
  border: 2px solid #C283F3;
  border-radius: 100px;
  z-index: 10000;
  opacity: 0;
}

.hero__btn:focus-visible::after {
  opacity: 1;
}

.hero__btn:hover {
  border: 3px solid var(--light-pink-color);
  border-radius: 100px;
}

.hero__btn:active {
  background: var(--focus-color);
  border: 3px solid var(--light-pink-color);
  border-radius: 100px;
}

.search-container {
  display: none;
}

/* about-us *//* about-us *//* about-us *//* about-us *//* about-us *//* about-us *//* about-us *//* about-us *//* about-us *//* about-us *//* about-us *//* about-us *//* about-us *//* about-us *//* about-us *//* about-us */

.about-us__container {
  padding-top: 79px;
}

.about-us__content {
  max-width: 1088px;
  margin: 0 0 69px 0;
}

.about-us__title {
  margin-bottom: 17px;
  color: var(--darkgrey-color);
}

.about-us__descr {

  font-weight: 400;
  font-size: 16px;
  line-height: 32px;

  color: var(--darkgrey-color);
}

/* gallery *//* gallery *//* gallery *//* gallery *//* gallery *//* gallery *//* gallery *//* gallery *//* gallery *//* gallery *//* gallery *//* gallery *//* gallery *//* gallery *//* gallery *//* gallery */

.gallery {
  padding: 80px 0 69px 0;


  background: url(../img/4-gallery/gallery-background-1920.jpg);
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.gallery__content-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.gallery__top-left-elem,
.gallery__bot-left-elem {
  width: calc(400 / 1600 * 100%);
}

.gallery__title {
  margin-top: 0;

  font-weight: 400;
  font-size: 48px;
  line-height: 65px;

  color: var(--white-color);
}

.gallery__subtitle {
  margin-top: 16px;
  margin-bottom: 10px;

  font-weight: 600;
  font-size: 16px;
  line-height: 32px;

  color: var(--white-color);
}

/* .gallery__txt-link {
  color: #9D5CD0;
  transition: all .3s ease;
}

.gallery__txt-link:hover {
  border-bottom: 1px solid #9D5CD0;
}

.gallery__txt-link:focus-visible {
  outline: none;
  color: var(--white-color);
  background-color: #9D5CD0;
}

.gallery__txt-link:active {
  color: #7943A4;
  border-bottom: 1px solid #7943A4;
} */

/* select *//* select *//* select *//* select *//* select */

.gallery__select {
  width: 100%;
}

.gallery__descr {
  margin-top: auto;
  margin-bottom: -15px;
  line-height: 32px;
  max-width: 85%;
  color: var(--white-color);
}

.choices__list {
  color: var(--white-color);
}

.choices__item {
  font-size: 16px;
  font-weight: 400;
}

.choices__inner,
.choices__list,
.choices__list--dropdown .choices__item--selectable.is-highlighted {
  background: transparent;
}

.choices__inner:hover,
.choices__list--dropdown .choices__item--selectable.is-highlighted:hover {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 6px;
}

.choices:focus {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 6px;
}

.choices__list {
  z-index: 111;
}

.choices__list.is-active {
  animation: dropdownOpen;
  animation-duration: .5s;
}

.choices__list--dropdown .choices__item:not(:last-child) {
  border-bottom: 1px solid #fff;
}

.choices__inner {
  border-radius: 6px;
  min-height: 40px;
  padding-top: 4px;
  padding-left: 12px;
}

.is-focused .choices__inner {
  border-radius: 6px;
  overflow: hidden;
}

.is-open .choices__list--dropdown {
  border-radius: 6px;
}

.choices[data-type*=select-one]:after{
  content: '';
  height: 7px;
  width: 7px;
  border: 1px solid var(--white-color);
  border-color: var(--white-color) transparent transparent var(--white-color);
  position: absolute;
  right: 14.7px;
  top: 49%;
  z-index: 25;
  transform: rotate(223deg);
  pointer-events: none;
}

.choices[data-type*=select-one].is-open:after{
  top: 45%;
  margin-top: 0;
  transform: rotate(45deg);
  border: 1px solid var(--white-color);
  border-color: var(--white-color) transparent transparent var(--white-color);
}

/* .choices:active, .choices:focus{
  border: 2px solid var(--outline-color);
  border-radius: 6px;
} */

.choices__item--choice,
.choices__inner  {
  transition: outline .3s ease-in-out, border-color .3s ease-in-out;
}

.choices__item--choice:hover {
  outline: var(--hover-color);
}

.choices__inner:focus {
  border-color: var(--focus-color);
}

.choices__list--dropdown .choices__item--selectable.is-selected{
  display: none;
}

.choices__list--dropdown .choices__item--selectable.is-highlighted {
  background-color: transparent;
}

.choices__list--dropdown .choices__item--selectable.is-highlighted:after {
  display: none;
}



/* select *//* select *//* select *//* select *//* select */

.gallery__bot-left-elem {
  position: relative;
}

.gallery__bottom-text {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
}

.gallery__bottom-text p {

  font-weight: 600;
  font-size: 16px;
  line-height: 32px;

  color: var(--white-color);
}

.gallery__right-elem {
  width: calc(1150 / 1600 * 100%);
  margin-top: 24px;
  margin-right: 0;
}

.gallery__slides-container {
  overflow: hidden;
}

.gallery__swiper-navigation {
  display: inline-flex;
  align-items: center;
  margin-bottom: 28px;
}

.gallery__pagination {
  margin-right: 18px;
  text-align: center;
  color: #373850;
}

.gallery__pagination span {

  font-weight: 400;
  font-size: 16px;
  line-height: 32px;

  color: var(--white-color);
}

.gallery__nav-btn {
  position: relative;
  flex-shrink: 0;
  width: 26px;
  height: 26px;
  background-color: var(--lightgrey-color);
  border-radius: 50%;
}

.gallery__nav-btn::before {
  content: "";
  position: absolute;
  top: calc(50% - 7px / 2);
  width: 7px;
  height: 7px;
  transform: rotate(45deg);
  transform-origin: center;
}

.gallery__prev-btn {
  margin-right: 18px;
}

.gallery__next-btn::before {
  left: calc(47% - 7px / 2);
  border-top: 1px solid var(--white-color);
  border-right: 1px solid var(--white-color);
}

.gallery__prev-btn::before {
  left: calc(50% - 7px / 2);
  border-left: 1px solid var(--white-color);
  border-bottom: 1px solid var(--white-color);
}

.gallery__swiper-slide {
  position: relative;
  overflow: hidden;
  background-color: #926B88;
}

.gallery__swiper-slide::before {
  content: "";
  position: relative;
  z-index: 1;
  display: block;
  padding-top: 100%;
  border: 3px solid transparent;
  transition: background-color .3s ease, border-color .3s ease;
}

.gallery__swiper-slide::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  padding: 25px;
  box-sizing: border-box;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.5);
  background-image: url(../img/gallery-plus.svg);
  background-repeat: no-repeat;
  background-size: 100px;
  background-position: center;
  background-clip: content-box;
  transition: opacity .5s ease;
}

.gallery__swiper-slide:hover::after {
  opacity: 1;
}

.gallery__swiper-slide:focus {
  outline: none;
}

.gallery__swiper-slide:focus::before {
  border-color: var(--focus-color);
}

.gallery__swiper-slide:active::before {
  border-color: var(--light-pink-color);
  background-color: rgba(194, 131, 243, 0.4);
}

.gallery__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery__link {
  position: relative;

  color: #9D5CD0;
  transition: all .3s ease;
}



.gallery__link:hover {
  border-bottom: 1px solid #9D5CD0;
}

.gallery__link:focus-visible {
  outline: none;
  color: var(--white-color);
  background-color: #9D5CD0;
}

.gallery__link:active {
  color: #7943A4;
  border-bottom: 1px solid #7943A4;
}

/* catalog *//* catalog *//* catalog *//* catalog *//* catalog *//* catalog *//* catalog *//* catalog *//* catalog *//* catalog *//* catalog *//* catalog *//* catalog *//* catalog *//* catalog *//* catalog */

.catalog {
  padding-top: 75px;
}

.catalog__head {
  display: flex;
  align-items: center;
  margin-bottom: 11px;
}

.catalog__title {
  margin-right: 30px;
  margin-bottom: 0;
}

.france-btn {background-image: url(../img/5-catalog/france-btn.webp);}
.germany-btn {background-image: url(../img/5-catalog/germany-btn.webp);}
.italy-btn {background-image: url(../img/5-catalog/italy-btn.webp);}
.russia-btn {background-image: url(../img/5-catalog/russia-btn.webp);}
.belgium-btn {background-image: url(../img/5-catalog/belgium-btn.webp);}

.catalog__tabs {
  margin-top: 5px;
}

.catalog__tabs-item:not(:last-child) {
  margin-right: 30px;
}

.catalog__tabs-btn {
  position: relative;
  display: inline-block;

  filter: none;

  width: 66px;
  height: 66px;

  border-radius: 100%;
  background-repeat: no-repeat;
  background-size: 46px;
  background-position: center center;

  transition-property: filter, border-color;
  transition-duration: .3s;
  transition-timing-function: ease;
}

.catalog__tabs-btn::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: 2px solid var(--active-color);
  border-radius: 100%;
  background-color: transparent;
  opacity: 0;

  transition-property: opacity, border-radius, top, right, bottom, left;
  transition-duration: .3s;
  transition-timing-function: ease;
}

.catalog__tabs-btn--active::before {
  top: -1px;
  right: -1px;
  bottom: -1px;
  left: -1px;

  opacity: 1;
}

.catalog__tabs-btn:active::before {
  opacity: 1;
  top: 8px;
  right: 8px;
  bottom: 8px;
  left: 8px;
}

.catalog__tabs-btn:hover,
.catalog__tabs-btn:focus {
  filter: drop-shadow(0px 0px 20px rgba(157, 92, 208, 0.7));
}

.catalog__content-left {
  display: none;
  margin-right: 25px;
  width: 47%;
}

.painter-content-active {
  display: block;
}

.catalog__content-left img {
  display: block;
  width: 100%;

  object-fit: cover;
}

.catalog__content-title {
  margin-top: 30px;
  margin-bottom: 5px;

  font-weight: 600;
  font-size: 24px;
  line-height: 33px;

  color: var(--darkgrey-color);
}

.catalog__content-years {
  margin-top: 15px;

  font-weight: 400;
  font-size: 12px;
  line-height: 16px;

  color: var(--grey-color);
}

.catalog__content-txt {
  margin-top: 7px;

  font-weight: 400;
  font-size: 16px;
  line-height: 32px;

  color: var(--darkgrey-color);
}

.catalog__painer-btn {
  padding: 0;
  margin-top: 15px;

  font-weight: 600;
  font-size: 16px;
  line-height: 22px;

  color: var(--active-color);
}

.catalog__country-info {
  margin-bottom: 40px;
  max-width: 69%;
  line-height: 200%;
}

.catalog__content-right {
  margin-left: 25px;
  width: 50%;
}

.catalog__tabs-content {
  display: none;
}

.catalog__tabs-content--active {
  display: block;
}

.catalog__tab-content {
  display: flex;
}

.painter-content-active {
  display: block;
}

.painter__photo {
  margin-bottom: 26px;
}

.painter__name {
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
}

.painter__years-life {
  margin-bottom: 5px;
  font-size: 12px;
  line-height: 16px;
  color: var(--grey-color);
}

.painter__info {
  line-height: 200%;
  max-width: 95%;
}

.catalog__painter-list {
  column-count: 3;

  padding-top: 27px;
  padding-bottom: 25px;
}

.catalog__painter-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;

  color: var(--darkgrey-color);
  transition: color .3s ease-in-out;
}

.catalog__painter-link--active {
  color: var(--focus-color);
}

.catalog__painter-link:hover {
  color: var(--hover-color);
  text-decoration: underline;
}

.catalog__painter-link:focus-visible {
  background: var(--hover-color);
  color: var(--white-color);
  outline: none;
}

/* rigth-side *//* rigth-side *//* rigth-side *//* rigth-side *//* rigth-side *//* rigth-side *//* rigth-side *//* rigth-side *//* rigth-side *//* rigth-side *//* rigth-side *//* rigth-side *//* rigth-side *//* rigth-side */

.tab__right-side {
  width: 100%;
}

.catalog__accordion {
  padding-bottom: 79px;
}

.catalog__accordion-wrap {
  position: relative;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;

  margin-bottom: -1px;
  border-top: 1px solid #cacaca;
  border-bottom: 1px solid #cacaca;
}

.catalog__accordion-wrap:focus-visible {
  outline: none;
  color: red;
}

.accordion-icon {
  position: absolute;

  top: 28%;
  right: 0px;
  width: 50px;
  height: 50px;
  transition: background-color.3s, .6s ease, transform .3s, .6s ease;

  border: 2px solid transparent;
  border-radius: 100%;

  transition: all 0.4s ease 0s;
  cursor: pointer;
}

.catalog__accordion-wrap.active {
  border-color: #7943A4;
}

.accordion-icon path {
  transition: all 0.4s ease 0s;
}

.catalog__accordion-wrap:hover .accordion-icon path {
  fill:  var(--light-pink-color);
  transition: all 0.4s ease 0s;
}

.catalog__accordion-wrap.active svg {
  transform: rotate(180deg);

  fill: var(--light-pink-color);
  border: 2px solid var(--active-color);
  border-radius: 100px;

  transition: all 0.4s ease 0s;
}

.catalog__accordion-wrap.active h3 {
  color: var(--focus-color);
}

.catalog__accordion-item {
  flex-direction: column;
  position: relative;
  /* margin-bottom: -1px;
  border-top: 1px solid #cacaca;
  border-bottom: 1px solid #cacaca; */
  transition: border 0.4s ease;
}

.catalog__accordion-item:hover,
.catalog__accordion-item:focus-visible {
  border-color: var(--active-color);
  position: relative;
  z-index: 2;
}

.catalog__accordion-item:active {
  border-color: var(--focus-color);
  position: relative;
  z-index: 2;
}

.catalog__accordion-title {
  position: relative;
  padding: 41px 120px 41px 0px;
  cursor: pointer;

  margin: 0;
  max-width: 100%;

  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: var(--darkgrey-color);

  transition: color 0.4s ease;
}

.catalog__accordion-title::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.catalog__accordion-title:hover:before {
  background-color: transparent;
  z-index: -1;
}

.catalog__accordion-title:hover,
.catalog__accordion-title:focus-visible {
  color: var(--active-color);
}

.catalog__accordion-title:active {
  color: var(--focus-color);
}

.catalog__accordion-text {
  display: none;
  padding: 0 0 0 0;
  max-width: 91%;

  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--darkgrey-color);
}

.catalog__accordion-content {
  display: flex;
  align-items: center;
  padding: 15px 0
}

.catalog__accordion-text-left {
  width: 261px;
  height: 165px;

  color: transparent;
  background-image: url(../img/5-catalog/catalog__acordion-unknown.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.catalog__accordion-text-right {
  max-width: 270px;
}

.right-title {
  margin-bottom: 5px;

  font-weight: 600;
  font-size: 24px;
  line-height: 32px;

  color: var(--darkgrey-color);
}

.right-text {
  margin-bottom: 5px;

  font-weight: 400;
  font-size: 16px;
  line-height: 22px;

  color: var(--darkgrey-color);
}

.right-btn {
  padding: 0;

  font-weight: 600;
  font-size: 16px;
  line-height: 22px;

  color: var(--active-color);
}

/* events *//* events *//* events *//* events *//* events *//* events *//* events *//* events *//* events *//* events *//* events *//* events *//* events *//* events *//* events *//* events *//* events *//* events *//* events */

.events__title {
  margin-bottom: 18px;
}

.events__cards-slider {
  overflow: hidden;
}

.events__slides-wrap {
  display: flex;
  flex-wrap: wrap;
  margin-right: -21px;
}

.events__list-item {
  width: calc(96.4% / 3 - 20px);
  min-height: 100%;
  margin-bottom: 49px;
  margin-right: 49px;
}

.events__list-item:nth-child(3n+3) {
  margin-right: 0;
}

.events__list-item.is-hidden {
  display: none;
}

/*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  */
.events__cards img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.events__cards {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.events__card-body-top {
  padding-top: 12px;
}

.events__teg {
  display: block;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  text-align: right;
  color: var(--grey-color);
}

.events__card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 0 18px 42px 50px;

  border: 1px solid #cacaca;
}

.events__item-title {
  margin-top: 3px;
  margin-bottom: 3px;

  font-weight: 600;
  font-size: 24px;
  line-height: 33px;

  color: var(--darkgrey-color);
}

.events__item-title-1024 {
  display: none;
}

.events__item-text {
  margin-right: 21px;

  font-weight: 400;
  font-size: 16px;
  line-height: 32px;

  color: var(--darkgrey-color);
}

.events__item-text-1024 {
  display: none;
}

.events__btn {
  width: 86px;
  margin-top: 82px;

  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  border-bottom: 1px solid var(--active-color);

  color: var(--active-color);
  transition: all .3s ease;
}

.events__btn:hover {
  color: #7943A4;
  border-bottom: 1px solid #7943A4;
}

.events__btn:focus-visible {
  background: #9D5CD0;
  color: var(--white-color);
  border-bottom: 1px solid var(--white-color);
}

.events__btn:active {
  color: #333;
  border-bottom: 1px solid #333;
}

/*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  */
.events__open-btn {
  position: relative;
  display: inherit;

  margin: 0 auto;
  margin-bottom: 80px;
  padding: 15px 32.5px;

  border: 2px solid var(--active-color);
  border-radius: 100px;
  background: transparent;

  font-weight: 700;
  font-size: 18px;
  line-height: 25px;

  color: var(--active-color);

  transition: all .3s ease;
}


.events__open-btn::after {
  content: "";
  position: absolute;
  top: -7px;
  left: -7px;
  width: calc(100% + 14px);
  height: calc(100% + 14px);
  border: 2px solid #C283F3;
  border-radius: 100px;
  z-index: 10000;
  opacity: 0;
}

.events__open-btn:focus-visible::after {
  opacity: 1;
}

.events__open-btn:hover {
  background-color: var(--active-color);
  color: var(--white-color);
}

.events__open-btn:active {
  background: #7943A4;
  border: 2px solid #D1A9F0;
}

/* publications *//* publications *//* publications *//* publications *//* publications *//* publications *//* publications *//* publications *//* publications *//* publications *//* publications *//* publications *//* publications */

/* checkbox *//* checkbox *//* checkbox *//* checkbox *//* checkbox *//* checkbox *//* checkbox *//* checkbox *//* checkbox *//* checkbox */

.publications__checkbox-title {

  display: inline-block;
  margin: 0;
  padding: 0;

  font-weight: 700;
  font-size: 16px;
  line-height: 32px;

  color: var(--white-color);
}

.publications__checkbox-wrap {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
  padding-left: 0;
  list-style: none;
}

.for-mobile-btn {
  display: none;
}

.checkbox-wrap {
  color: #ffffff;
  cursor: pointer;
  transition: color 0.3s ease;
}

.checkbox-wrap:hover {
  color: #C283F3;
}

.checkbox-wrap:hover .visual-check {
  border-color: #C283F3;
}

.visual-check {
  position: relative;
  display: inline-block;
  width: 12px;
  height: 12px;
  border: 1px solid #ffffff;
  transition: border-color 0.3s ease;
}

.visual-check::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background-color: #C283F3;
  opacity: 0;
  transform: translate(-50%, -50%);
  transition: opacity 0.3s ease;
}

.checkbox:focus-visible:not(:checked) ~ .checkbox-content .visual-check,
.checkbox:checked ~ .checkbox-content .visual-check {
  border-color: #C283F3;
}

.checkbox:focus-visible:not(:checked) ~ .checkbox-content .checkbox-text,
.checkbox:checked ~ .checkbox-content .checkbox-text {
  color: #C283F3;
}

.checkbox:checked ~ .checkbox-content .visual-check::before {
  opacity: 1;
}

.checkbox-text {
  padding-left: 7px;

  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

/* checkbox *//* checkbox *//* checkbox *//* checkbox *//* checkbox *//* checkbox *//* checkbox *//* checkbox *//* checkbox *//* checkbox *//* checkbox *//* checkbox *//* checkbox *//* checkbox *//* checkbox */

.publications {
  padding-top: 98px;
  padding-bottom: 66px;

  background-image: url(../img/7-publications/publications-background-1920.jpg);

  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.publications-wrap {
  display: flex;
}

.publications-left {

  max-width: 300px;
  margin-top: -18px;
}

.publications__title {
  margin: 0;

  margin-bottom: 15px;
  color: var(--white-color);
}

.publications__subtitle {
  margin: 0;
  padding-top: 14px;

  font-weight: 700;
  font-size: 14px;
  letter-spacing: 1.3px;
  color: var(--white-color);
}

/*-+Заказ картин+-*/

.swiper-wrapper {
  padding-left: 0;
}

.publications-swiper {

  margin: 0;

  margin-left: auto;
  padding-top: 15px;

  width: calc(1150 / 1600 * 100%);
  overflow: hidden;
}

.publications-navigation {
  display: inline-flex;
  align-items: center;
  /*подгонPP*/
  margin: 0;
  width: 131px;
}

.publications-pagination {
  /*1/6*/
  text-align: center;
  margin-right: 7px;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--white-color);
}

.publications-btn {
  position: relative;
  flex-shrink: 0;
  margin: 0;
  width: 30px;
  height: 30px;
  background-color: #bbb;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color .4s ease-in-out;
}

.publications-btn:focus {
  border-radius: 50%;
  background-color: var(--focus-color);
  outline: none;
}

.publications-btn:hover {
  background-color: var(--hover-color);
}

.publications-btn:disabled {
  background-color: #666;
}

.publications-btn:active {
  border: 2px solid #000;
}

.publications-btn::before {
  content: "";
  position: absolute;
  width: 5px;
  height: 5px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  transform-origin: center;
}

.publications-prev {
  margin-right: 7px;
}

.publications-next::before {
  position: absolute;
  right: 0;
  border-top: 1px solid var(--white-color);
  border-right: 1px solid var(--white-color);
}

.publications-prev::before {
  border-left: 1px solid var(--white-color);
  border-bottom: 1px solid var(--white-color);
}

.publications__list {
  margin: 0;
  padding-top: 31px;
}

.publications__item {
  position: relative;
  overflow: hidden;
  background-color: transparent;
}

.publications-image {
  display: block;
}

/*publications-info*//*publications-info*//*publications-info*//*publications-info*//*publications-info*/

.publications-info {
  position: relative;
  padding-top: 23px;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: var(--white-color);
}

.publications__book-name {
  display: block;
  font-weight: 700;
  font-size: 15.8px;
  line-height: 21px;
  color: var(--white-color);
}

.publications__button {
  position: relative;
  display: block;

  margin-top: 14px;
  margin-left: 4px;
  margin-bottom: 10px;

  padding: 9px 22px;

  font-size: 16px;
  border: 2px solid #9D5CD0;
  border-radius: 100px;

  color: var(--white-color);

  background-color: transparent;
}

.publications__button::after {
  content: "";
  position: absolute;
  top: -6px;
  left: -6px;
  width: calc(100% + 8px);
  height: calc(100% + 8px);
  border: 2px solid #C283F3;
  border-radius: 100px;
  z-index: 10000;
  opacity: 0;
}

.publications__button:focus-visible::after {
  opacity: 1;
}

.publications__button:active::after {
  opacity: 0;
}

.publications__button:hover {
  background: #9D5CD0;
}

.publications__button:active {
  background: #7943A4;
  border: 2px solid #D1A9F0;
  border-radius: 100px;
}

.publications-span {
  position: absolute;
  top: 23px;
  right: 3px;
  font-size: 15px;
  font-style: italic;
  color: var(--white-color);
}


/*Цена-publications-price*/

.publications-price {
  display: flex;
  flex-direction: column;
}

.publications-price__form {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-flow: nowrap;
  margin-top: 14px;
  align-items: baseline;
  border: 1px solid var(--white-color);
  border-radius: 6px;
}

.publications-price__label {
  width: 2%;
}

.publications-price__label,
.publications-price__label-to,
.publications-price__label-val {
  justify-content: space-around;
  width: min-content;
}

.publications-price__label,
.publications-price__input,
.publications-price__label-to,
.publications-price__label-val {
  margin-top: -2px;
  position: relative;
  padding-right: 9px;
  padding-left: 9px;
  min-height: 100%;
  font-size: 17px;
  line-height: 34px;
  color: var(--white-color);
}

.publications-price__label-to {
  padding-right: 13px;
}

.publications-price__input {
  padding-top: 5px;
  padding-left: 12px;
  width: 72px;
  border: none;
  outline: none;
  background-color: rgba(157, 92, 208, 0.5);
  transition: all .3s ease;
}

.publications-price__input:focus,
.publications-price__input:hover {
  background-color: var(--hover-color);
}

.publications-price__input:active {
  background-color: var(--active-color);
}

.publications-price__input[type="number"] {
  color: var(--white-color);
}

.publications-price__input[type="number"]::-webkit-input-placeholder {
  color: var(--white-color);
}

.publications-price__input[type="number"]::-moz-placeholder {
  color: var(--white-color);
}


/* Chrome, Safari, Edge, Opera */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */

input[type=number] {
  -moz-appearance: textfield;
}

/* projects *//* projects *//* projects *//* projects *//* projects *//* projects *//* projects *//* projects *//* projects *//* projects *//* projects *//* projects *//* projects *//* projects *//* projects *//* projects */

.projects__title {
  margin-top: 80px;
  margin-bottom: 16px;
}

.for-320px {
  display: none;
}

.projects__text {
  position: relative;
  max-width: 1080px;

  font-weight: 400;
  font-size: 16px;
  line-height: 32px;

  color: var(--darkgrey-color);
}

.projects__link {
  position: relative;

  color: #9D5CD0;
  transition: color .3s ease;
}

.projects__link::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: -2px;
  z-index: -1;
  height: 1px;
  background-color: #9D5CD0;
  opacity: 0;
  transition-property: opacity, background-color;
  transition-duration: .3s;
  transition-timing-function: ease;
}

.projects__link:hover::after {
  opacity: 1;
}

.projects__link:focus-visible {
  outline: none;
  background: #9D5CD0;
  color: #fff;
}

.projects__link:active::after {
  opacity: 1;
  background-color: #7943A4;
}

.projects__subtitle {
  margin-top: 21px;
  margin-bottom: 23px;

  font-weight: 600;
  font-size: 24px;
  line-height: 32px;

  color: var(--darkgrey-color);

}

/*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  */

.partners {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  overflow: hidden;
}

.partners__swiper-container {
  max-width: 91%;

  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

.partners__swiper-slide-link {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 10px;
  height: 129px;
  border: 1px solid #cacaca;
}

.partners__swiper-slide-link:focus,
.partners__swiper-slide-link:active {
  outline: none;
  border: 1px solid var(--hover-color);
}

.partners__swiper-slide-link img {
  transition: all .4s ease;
}

.partners__swiper-slide-img {
  filter: grayscale(100%);
  opacity: 0.5;
  transition: filter .3s ease-in-out;
}

.partners__swiper-slide-link:hover .partners__swiper-slide-img {
  filter: grayscale(0%);
  opacity: 1;
}

.partners__swiper-slide-link:active .partners__swiper-slide-img {
  filter: grayscale(0%);
  opacity: 1;
}

.partners__button-prev,
.partners__button-next {
  position: absolute;
  top: 55%;
}

.partners__button-prev {
  left: 0;
}

.partners__button-next {
  right: 0;
}

.partners__button-prev,
.partners__button-next {
  width: 30px;
  height: 30px;

  background-color:#ececec;
  border: 2px solid transparent;
  border-radius: 100%;
  transition: all .3s ease;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 10px;
  color: var(--black-color);
}

.partners__button-prev.swiper-button-disabled {
  background: #666;
  border: #666;
}

.partners__button-prev:hover,
.partners__button-next:hover {
  background: #D1A9F0;
  border: #D1A9F0;
}

.partners__button-prev:active,
.partners__button-next:active {
  border: 2px solid #9D5CD0;
}

.tooltip-btn {
  position: relative;
  top: 3px;

  width: 16px;
  height: 16px;
  fill: transparent;
}

.tooltip-marker-circle {
  stroke: var(--hover-color);
}

.tooltip-marker-icon {
  fill: var(--black-color);
}

.tooltip-btn:hover {
  fill: #D1A9F0;
}

.tooltip-btn:focus {
  fill: var(--hover-color);
}

.tooltip-btn:focus-visible {
  fill: #D1A9F0;
}

.tooltip-btn:active {
  fill: var(--hover-color);
}

.tooltip-btn:focus .tooltip-marker-icon,
.tooltip-btn:active .tooltip-marker-icon {
  fill: var(--white-color);
}

.tippy-box[data-theme~='projects-tooltip'] {
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  text-align: center;

  border-radius: 0;
  background: #9D5CD0;
  color: var(--white-color);
}

.tippy-box[data-theme~='projects-tooltip'][data-placement^='top'] > .tippy-arrow::before {
  border-top-color: #9D5CD0;
}
.tippy-box[data-theme~='projects-tooltip'][data-placement^='bottom'] > .tippy-arrow::before {
  border-bottom-color: #9D5CD0;
}
.tippy-box[data-theme~='projects-tooltip'][data-placement^='left'] > .tippy-arrow::before {
  border-left-color: #9D5CD0;
}
.tippy-box[data-theme~='projects-tooltip'][data-placement^='right'] > .tippy-arrow::before {
  border-right-color: #9D5CD0;
}


/* contacts *//* contacts *//* contacts *//* contacts *//* contacts *//* contacts *//* contacts *//* contacts *//* contacts *//* contacts *//* contacts *//* contacts *//* contacts *//* contacts *//* contacts */

.contacts {
  overflow-x: hidden; /* это нужно для того, чтоб не создавалось горизонтального скролла из-за скроллбара справа на десктопной версии, который не учитывается при задании измерений в vw */
}

.contacts__wrap {
  border-top: 1px solid lightgray;
}

.contacts__container-block {
  display: flex;
}

.contacts__for-320px {
  display: none;
}

.contacts__contacts {
  width: calc(522 / 1600 * 100%);
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 40px;
  border-right: 1px solid lightgray;
  background-color: #fff;
}

.contacts__map {
  min-height: 320px;
  width: calc(1078 / 1600 * 100% + ((100vw - 100%) / 2)); /* 1078 - в данном случае это ширина карты внутри контейнера, её можно менять */
  margin-right: calc((-100vw + 100%) / 2);
  margin-top: -1px;
  transition-property: width, height, padding;
  transition-duration: 100ms;
}

[class*="ground-pane"] {
  filter: grayscale(1);
}


.page-footer {
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  background-color: #0e294b;
}

.page-footer__text {
  text-align: center;
}

/* mybottom *//* mybottom *//* mybottom *//* mybottom *//* mybottom *//* mybottom *//* mybottom *//* mybottom *//* mybottom *//* mybottom *//* mybottom *//* mybottom *//* mybottom *//* mybottom *//* mybottom */

.contacts__title {
  margin-top: 80px;
  margin-bottom: 15px;
}

.contacts__content {
  min-height: 500px;
  justify-content: space-between;
}

.contacts__content-left {
  flex: 1;
  padding: 124px 121px 119px 0;

  min-width: 400px;
}

.contacts__subtitle {
  margin-bottom: 2px;

  font-weight: 600;
  font-size: 24px;
  line-height: 32px;

  color: var(--darkgrey-color);
}

.contacts__form-title {
  margin-top: 28px;
  margin-bottom: 16px;

  font-weight: 400;
  font-size: 24px;
  line-height: 32px;

  color: var(--darkgrey-color);
}



.contacts__content-rigth {
  max-width: 1230px;
  width: 100%;

  border-left: 1px solid black
}

.contacts__text {


  font-weight: 400;
  font-size: 16px;
  line-height: 32px;

  color: var(--darkgrey-color);
}

.contacts__form-label {
  position: relative;
}

.contacts__form-input {
  width: 100%;
  margin-bottom: 23px;
  padding: 3px 24px;

  border: 1px solid #333;
  border-radius: 100px;

  font-weight: 400;
  font-size: 16px;
  line-height: 32px;

  color: var(--grey-color);
  transition: all .3s ease;
}

.contacts__form-input:hover {
  background: #EAEAEA;
}

.contacts__form-input:focus-visible {
  background: #EAEAEA;
  outline: none;
  color: var(--black-color);
}

.contacts__form-input:active {
  background: transparent;
  outline: none;
  color: var(--black-color);
}



.js-validate-error-label {
  position: absolute;
  left: 6%;
  top: -132%;

  font-weight: 400;
  font-size: 12px;
  line-height: 16px;

}

.contacts__btn {
  position: relative;
  padding: 14px 34px;

  border: 2px solid var(--active-color);
  border-radius: 100px;

  font-weight: 700;
  font-size: 18px;
  line-height: 25px;

  color: var(--active-color);
  transition: all .3s ease;
}

.contacts__btn::before {
  content: "";
  position: absolute;
  top: -7px;
  left: -7px;
  width: calc(100% + 14px);
  height: calc(100% + 14px);
  border: 2px solid #C283F3;
  border-radius: 100px;
  z-index: 10000;
  opacity: 0;
}

.contacts__btn:focus-visible::before {
  opacity: 1;
}

.contacts__btn:hover {
  color: var(--white-color);
  background-color: var(--active-color);
}

.contacts__btn:active {
  color: var(--white-color);
  border: 2px solid var(--light-pink-color);
  background: var(--focus-color);
}

.contacts__bottom {
  margin-top: 39px;
}

.contacts__bottom-text {

  font-weight: 400;
  font-size: 24px;
  line-height: 32px;

  color: var(--darkgrey-color);
}

.contacts__bottom-list {
  margin-top: 15px;
}

.contacts__bottom-link {
  transition: all .3s ease;
}

.contacts__bottom-link:hover,
.contacts__bottom-link:focus-visible {
  opacity: 0.5;
  outline: none;
}

.contacts__bottom-link:active svg {
  outline: 1px solid #9643A4;
  border-radius: 100%;
  opacity: 1;
}

.telegram-link {
  margin-left: 20px;
}


/* footer *//* footer *//* footer *//* footer *//* footer *//* footer *//* footer *//* footer *//* footer *//* footer *//* footer *//* footer *//* footer *//* footer *//* footer *//* footer *//* footer *//* footer *//* footer *//* footer *//* footer */

.footer {
  background: var(--black-color);
}

.footer__content {


  justify-content: space-between;
  padding: 47px 0;
}

.footer__list-item:not(:last-child) {
  margin-right: 20px;
}

.footer__list-item svg {
  transition: fill .4s ease;
}

.footer__img path {
  transition: fill .4s ease;
}

.footer__link:hover svg path {
  fill: var(--white-color);
}

.footer__link:focus-visible svg path {
  outline: none;
  fill: var(--white-color);
}

.footer__link:focus-visible {
  outline: none;
  fill: var(--white-color);
}

.footer__link:active svg path {
  fill: var(--active-color);
}


/* modal *//* modal *//* modal *//* modal *//* modal *//* modal *//* modal *//* modal *//* modal *//* modal *//* modal *//* modal *//* modal *//* modal *//* modal *//* modal *//* modal *//* modal *//* modal */

/* .js-open-modal {
	border: none;
	cursor: pointer;
	background-color: #000;
	color: #fff;
	padding: 10px;
} */

.modal-overlay {
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.7);
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	width: 100%;
	opacity: 0;
	visibility: hidden;
	transition: all 0.3s ease-in-out;
  z-index: 1000;
}

.modal {
  background-color: #fff;
  width: 300px;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
}

.modal-overlay--visible {
  opacity: 1;
  visibility: visible;
  transition: all 0.3s ease-in-out;
}

.modal--visible {
  display: block;
}

.disable-scroll {
  position: relative;
  overflow: hidden;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
}

.modal--visible .header {
  display: none;
}
