/* catalog *//* catalog *//* catalog *//* catalog *//* catalog *//* catalog *//* catalog *//* catalog *//* catalog *//* catalog *//* catalog *//* catalog *//* catalog *//* catalog */

.gallery {
  padding: 80px 0 69px 0;


  background: url(../img/4-gallery/gallery-background-1920.jpg);
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.gallery__content-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.gallery__top-left-elem,
.gallery__bot-left-elem {
  width: calc(400 / 1600 * 100%);
}

.gallery__title {
  margin-top: 0;

  font-weight: 400;
  font-size: 48px;
  line-height: 65px;

  color: var(--white-color);
}

.gallery__subtitle {
  margin-top: 16px;
  margin-bottom: 10px;

  font-weight: 600;
  font-size: 16px;
  line-height: 32px;

  color: var(--white-color);
}

.gallery__link {
  color: #9D5CD0;
  transition: all .3s ease;
}

.gallery__link:hover {
  border-bottom: 1px solid #9D5CD0;
}

.gallery__link:focus-visible {
  outline: none;
  color: var(--white-color);
  background-color: #9D5CD0;
}

.gallery__link:active {
  color: #7943A4;
  border-bottom: 1px solid #7943A4;
}

/* select *//* select *//* select *//* select *//* select */

.gallery__select {
  width: 100%;
}

.gallery__descr {
  margin-top: auto;
  margin-bottom: -15px;
  line-height: 32px;
  max-width: 85%;
  color: var(--white-color);
}

.choices__list {
  color: var(--white-color);
}

.choices__item {
  font-size: 16px;
  font-weight: 400;
}

.choices__inner,
.choices__list,
.choices__list--dropdown .choices__item--selectable.is-highlighted {
  background: transparent;
}

.choices__inner:hover,
.choices__list--dropdown .choices__item--selectable.is-highlighted:hover {
  background: rgba(255, 255, 255, 0.2);
}

.choices:focus {
  background: rgba(255, 255, 255, 0.2);
}

.choices__list {
  z-index: 111;
}

.choices__list.is-active {
  animation: dropdownOpen;
  animation-duration: .5s;
}

.choices__list--dropdown .choices__item:not(:last-child) {
  border-bottom: 1px solid #fff;
}

.choices__inner {
  border-radius: 6px;
  min-height: 40px;
  padding-top: 4px;
  padding-left: 12px;
}

.is-focused .choices__inner {
  border-radius: 6px;
  overflow: hidden;
}

.is-open .choices__list--dropdown {
  border-radius: 6px;
}

.choices[data-type*=select-one]:after{
  content: '';
  height: 7px;
  width: 7px;
  border: 1px solid var(--white-color);
  border-color: var(--white-color) transparent transparent var(--white-color);
  position: absolute;
  right: 14.7px;
  top: 49%;
  z-index: 25;
  transform: rotate(223deg);
  pointer-events: none;
}

.choices[data-type*=select-one].is-open:after{
  top: 45%;
  margin-top: 0;
  transform: rotate(45deg);
  border: 1px solid var(--white-color);
  border-color: var(--white-color) transparent transparent var(--white-color);
}

/* .choices:active, .choices:focus{
  border: 2px solid var(--outline-color);
  border-radius: 6px;
} */

.choices__item--choice,
.choices__inner  {
  transition: outline .3s ease-in-out, border-color .3s ease-in-out;
}

.choices__item--choice:hover {
  outline: var(--hover-color);
}

.choices__inner:focus {
  border-color: var(--focus-color);
}

.choices__list--dropdown .choices__item--selectable.is-selected{
  display: none;
}

.choices__list--dropdown .choices__item--selectable.is-highlighted{
  background-color: transparent;
}

.choices__list--dropdown .choices__item--selectable.is-highlighted:after {
  display: none;
}

/* select *//* select *//* select *//* select *//* select */

.gallery__bot-left-elem {
  position: relative;
}

.gallery__bottom-text {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
}

.gallery__bottom-text p {

  font-weight: 600;
  font-size: 16px;
  line-height: 32px;

  color: var(--white-color);
}

.gallery__right-elem {
  width: calc(1150 / 1600 * 100%);
  margin-top: 24px;
  margin-right: 0;
}

.gallery__slides-container {
  overflow: hidden;
}

.gallery__swiper-navigation {
  display: inline-flex;
  align-items: center;
  margin-bottom: 28px;
}

.gallery__pagination {
  margin-right: 18px;
  text-align: center;
  color: #373850;
}

.gallery__pagination span {

  font-weight: 400;
  font-size: 16px;
  line-height: 32px;

  color: var(--white-color);
}

.gallery__nav-btn {
  position: relative;
  flex-shrink: 0;
  width: 26px;
  height: 26px;
  background-color: var(--lightgrey-color);
  border-radius: 50%;
}

.gallery__nav-btn::before {
  content: "";
  position: absolute;
  top: calc(50% - 7px / 2);
  width: 7px;
  height: 7px;
  transform: rotate(45deg);
  transform-origin: center;
}

.gallery__prev-btn {
  margin-right: 18px;
}

.gallery__next-btn::before {
  left: calc(47% - 7px / 2);
  border-top: 1px solid var(--white-color);
  border-right: 1px solid var(--white-color);
}

.gallery__prev-btn::before {
  left: calc(50% - 7px / 2);
  border-left: 1px solid var(--white-color);
  border-bottom: 1px solid var(--white-color);
}

.gallery__swiper-slide {
  position: relative;
  overflow: hidden;
  background-color: #926B88;
}

.gallery__swiper-slide::before {
  content: "";
  position: relative;
  z-index: 1;
  display: block;
  padding-top: 100%;
  border: 3px solid transparent;
  transition: background-color .3s ease, border-color .3s ease;
}

.gallery__swiper-slide::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  padding: 25px;
  box-sizing: border-box;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.5);
  background-image: url(../img/gallery-plus.svg);
  background-repeat: no-repeat;
  background-size: 100px;
  background-position: center;
  background-clip: content-box;
  transition: opacity .5s ease;
}

.gallery__swiper-slide:hover::after {
  opacity: 1;
}

.gallery__swiper-slide:focus {
  outline: none;
}

.gallery__swiper-slide:focus::before {
  border-color: var(--focus-color);
}

.gallery__swiper-slide:active::before {
  border-color: var(--light-pink-color);
  background-color: rgba(194, 131, 243, 0.4);
}

.gallery__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 1420px) {
  .catalog__country-info {
    max-width: 100%;
  }

  .accordion {
    max-width: 48%;
  }

  .accordion__painter-list {
  max-height: 440px;
  }
}
